body{
    background-color: rgb(255, 255, 255);
}

html, body {
    margin: 0;
    padding: 0;

}


.home-container {
    margin: 0;
    padding: 0;
    background: white;
    height: 100vh; /* Tam ekran yüksekliği */
    overflow-x: hidden; /* Yatay kaydırmayı engeller */
}

.row {
    width: 100%;
}
